<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Form
    </ion-title>
  </ion-toolbar>
</ion-header>


      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-input type="text" label="Title" helperText="Enter Title"fill="solid"
            labelPlacement="floating" [counter]="true" minlength="3" 
            errorText="⚠ Invalid Title, minimum 3 characters"
            ngModel required [(ngModel)]="Title"(ngModelChange)= "ValidRequirement()"> </ion-input>
          </ion-row>
        </ion-grid>


        <ion-grid>
          <ion-row>
            <ion-input type="text" label="Description" helperText="Enter Description" fill="solid"
            labelPlacement="floating"  [counter]="true" minlength="10" 
            errorText="⚠ Invalid Description, minimum 10 characters"
            ngModel required 
            [(ngModel)]="Description"(ngModelChange)="ValidRequirement()"> </ion-input>
          </ion-row>
        </ion-grid>

      <form>
        <ion-grid>
          <ion-row>
            <ion-col> <ion-button type="submit" color="primary" [disabled]="!Sub" 
              (click)="addlist()"function="Submis()">Submit</ion-button>
            </ion-col> 
          </ion-row>            
        </ion-grid> 
      </form>
      </ion-list>

    <ion-list *ngIf="list.length > 0; else noList">
      <ion-item *ngFor="let list of list">
        <ion-label>
          <h1>{{list.Title}}</h1>
          <p>{{list.Description }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ng-template #noList>
      <p>There is nothing added</p>
    </ng-template>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
